# Dictionaries and Sets

## Dictionaries

### Characteristics
- Heterogeneous elements
- Nestable
- Mutable
- Flexible and efficient/fast container type
- Sole mapping type in Python
- Access and storage very different from Strings, Lists, and Tuples
    - sequence types use numeric keys (sequential)
    - mapping types can use other types as keys
    - keys often directly associated with values = hash tables
- associative memories for associative arrays
- think of unordered key:value pairs
- indexed by keys not a range of numbers
- very powerful and efficient for some problems

### Creation

In [1]:
d = {}
d

{}

In [2]:
d['first'] = 0
d

{'first': 0}

In [3]:
d['second'] = 1

In [4]:
d

{'first': 0, 'second': 1}

In [5]:
c = {'first': 0, 'second': 1, 'third': 2}
c

{'first': 0, 'second': 1, 'third': 2}

Dictionaries can can also be created using the function dict with an argument of a sequence of tuples:

In [6]:
dow = "mon","tue","wed","thu","fri","sat","sun"

In [7]:
dow

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [8]:
ids = range(len(dow))

In [9]:
ids

[0, 1, 2, 3, 4, 5, 6]

In [10]:
tup = zip(dow, ids)
tup

[('mon', 0),
 ('tue', 1),
 ('wed', 2),
 ('thu', 3),
 ('fri', 4),
 ('sat', 5),
 ('sun', 6)]

In [11]:
dow_id = dict(tup)
dow_id

{'fri': 4, 'mon': 0, 'sat': 5, 'sun': 6, 'thu': 3, 'tue': 1, 'wed': 2}

Note that the key-value pairs are not sorted.

### Dictionary Methods

In [12]:
dow_id.has_key('mon')

True

In [13]:
dow_id.values()

[2, 6, 4, 1, 0, 3, 5]

In [14]:
dow_id.keys()

['wed', 'sun', 'fri', 'tue', 'mon', 'thu', 'sat']

In [15]:
dow_id.items()

[('wed', 2),
 ('sun', 6),
 ('fri', 4),
 ('tue', 1),
 ('mon', 0),
 ('thu', 3),
 ('sat', 5)]

Combining two dictionaries can be done with the update methods:

In [16]:
d = {}
d['first'] = 0
d

{'first': 0}

In [17]:
d['second'] = 1

In [18]:
d

{'first': 0, 'second': 1}

In [19]:
e = {'bono': 'humble singer', 'edge': 'the sound'}
e

{'bono': 'humble singer', 'edge': 'the sound'}

In [20]:
d.update(e)
d

{'bono': 'humble singer', 'edge': 'the sound', 'first': 0, 'second': 1}

## Sets

- a collection of unordered, unique objects
- supports oeprations and concepts from set theory
- mutable

### Creation

In [21]:
l = range(5)
l

[0, 1, 2, 3, 4]

In [22]:
s = set(l)

In [23]:
s

{0, 1, 2, 3, 4}

In [24]:
b = {0}

In [25]:
type(b)

set

care must be taken with a string

In [26]:
s = 'My name is Joe the plumber.'
s = set(s)
s

{' ',
 '.',
 'J',
 'M',
 'a',
 'b',
 'e',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'y'}

In [27]:
s = 'My name is Joe the plumber.'
s = set(s.split())
s

{'Joe', 'My', 'is', 'name', 'plumber.', 'the'}

Since sets are unordered, we can’t rely on how the elements are indexed in derived sets as seen above.

Also note that the elements of a set have to be unique:

In [28]:
l

[0, 1, 2, 3, 4]

In [29]:
l.append(4)
l

[0, 1, 2, 3, 4, 4]

In [30]:
s = set(l)
s

{0, 1, 2, 3, 4}

We can grow the set with `add` and `update` methods:

In [31]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [32]:
s.add(5)
s

{0, 1, 2, 3, 4, 5}

In [33]:
s.update([4, 5, 6, 7])
s

{0, 1, 2, 3, 4, 5, 6, 7}

### Set Methods

In [34]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,4,6])
group1.intersection(group2)

{2, 4}

In [35]:
group1.union(group2)

{1, 2, 3, 4, 5, 6}

In [36]:
group3 = set([8, 9, 10])
group3.intersection(group1)

set()

In [37]:
s1 = set(range(3))
s2 = set(range(10))
s1

{0, 1, 2}

In [38]:
s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
s2.issuperset(s1)

True

In [40]:
s1.issubset(s2)

True

In [41]:
s2.issubset(s1)

False

In [42]:
s1.issuperset(s2)

False

The symmetric difference of two sets is defined as the set of elements which are in one or the other, but not both, of the sets:

In [43]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [44]:
s2 = set(range(9))
s2

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
s1.symmetric_difference(s2)

{0, 4, 5, 6, 7, 8}

In [46]:
s2.symmetric_difference(s1)

{0, 4, 5, 6, 7, 8}

In [47]:
s1.difference(s2)

set()

In [48]:
s2.difference(s1)

{0, 4, 5, 6, 7, 8}

The methods union, intersection, and difference can be applied across more than two sets:

In [49]:
s1 = set(range(3))
s2 = set(range(2, 5))
s3 = set(range(4, 10))
s1

{0, 1, 2}

In [50]:
s2

{2, 3, 4}

In [51]:
s3

{4, 5, 6, 7, 8, 9}

In [52]:
s1.difference(s2, s3)

{0, 1}

In [53]:
s1.intersection(s2, s3)

set()

In [54]:
s1.intersection(s2)

{2}

In [55]:
s1.union(s2, s3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Other set methods

In [56]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [57]:
s.remove(1)
s

{0, 2, 3, 4}

In [58]:
s.discard(4)

In [59]:
s

{0, 2, 3}

In [60]:
s.remove(4)

KeyError: 4

In [61]:
s.discard(4)

In [62]:
s

{0, 2, 3}