# Iterables, Conditional Execution, and Files

In [1]:
x = list(range(10)) # python 2 safe
print('My input values are: ', x)

summation = 0
for i in range(10):
    summation += i

mean = summation / len(x)
print('The mean value is: ', mean)

('My input values are: ', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
('The mean value is: ', 4)

In [2]:
x = list(range(10))
summation = 0
for i in x:
    summation += i

mean = summation /len(x)
print('The mean value is: ', mean)

('The mean value is: ', 4)

In [3]:
x = range(10)
mean = sum(x) / len(x)
print('The mean vlaue is: ', mean)

('The mean vlaue is: ', 4)

## Continue

In [5]:
for i in range(5):
    for j in range(3):
        print(i, j)

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [6]:
for i in range(5):
    for j in range(3):
        if i == j:
            continue
        else:
            print(i, j)

(0, 1)
(0, 2)
(1, 0)
(1, 2)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

# if else

In [7]:
x = range(10)
for i in x:
    if i < 4:
        print(i, ' is less than 4')

(0, ' is less than 4')
(1, ' is less than 4')
(2, ' is less than 4')
(3, ' is less than 4')

In [8]:
x = range(10)
for i in x:
    if i < 4:
        print(i, ' is less than 4')
    else:
        print(i, 'is not less than 4')

(0, ' is less than 4')
(1, ' is less than 4')
(2, ' is less than 4')
(3, ' is less than 4')
(4, 'is not less than 4')
(5, 'is not less than 4')
(6, 'is not less than 4')
(7, 'is not less than 4')
(8, 'is not less than 4')
(9, 'is not less than 4')

In [9]:
x = range(10)
for i in x:
    if i < 4:
        print(i, ' is less than 4')
    elif i>4:
        print(i, 'is greater than 4')

(0, ' is less than 4')
(1, ' is less than 4')
(2, ' is less than 4')
(3, ' is less than 4')
(5, 'is greater than 4')
(6, 'is greater than 4')
(7, 'is greater than 4')
(8, 'is greater than 4')
(9, 'is greater than 4')

In [10]:
x = range(10)
for i in x:
    if i < 4:
        print(i, ' is less than 4')
    elif i>4:
        print(i, 'is greater than 4')
    else:
        print(i, 'is equal to 4')

(0, ' is less than 4')
(1, ' is less than 4')
(2, ' is less than 4')
(3, ' is less than 4')
(4, 'is equal to 4')
(5, 'is greater than 4')
(6, 'is greater than 4')
(7, 'is greater than 4')
(8, 'is greater than 4')
(9, 'is greater than 4')

In [12]:
x = range(10)
for i in x:
    if i < 4:
        print(i, ' is less than 4')
        if i % 2:
            print('\tand it is odd')
        else:
            print('\tand it is even')
    elif i>4:
        print(i, 'is greater than 4')
    else:
        print(i, 'is equal to 4')

(0, ' is less than 4')
	and it is even
(1, ' is less than 4')
	and it is odd
(2, ' is less than 4')
	and it is even
(3, ' is less than 4')
	and it is odd
(4, 'is equal to 4')
(5, 'is greater than 4')
(6, 'is greater than 4')
(7, 'is greater than 4')
(8, 'is greater than 4')
(9, 'is greater than 4')

## Files

In [13]:
with open('data/airports.csv', 'r') as f:
    lines = f.readlines()

In [14]:
len(lines)

6978

In [20]:
lines[1]

'1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U\n'

In [15]:
data = []
for line in lines:
    data.append(line.strip().split(","))

In [16]:
data[0]

['airport_id',
 'name',
 'city',
 'country',
 'iata_faa',
 'iaco',
 'latitude',
 'longitude',
 'altitude',
 'zone',
 'dst']

In [17]:
k = len(data[0])
for line in data:
    if len(line) != k:
        print(line)

['5881', "Mata'aho Airport", '"Angaha', ' Niuafo\'ou Island"', 'Tonga', 'NFO', 'NFTO', '-15.5708', '-175.633', '160', '13', 'U']
['5675', 'Sao Filipe Airport', '"Sao Filipe', ' Fogo Island"', 'Cape Verde', 'SFL', 'GVSF', '14.885', '-24.48', '617', '-1', 'U']
['5674', 'Praia International Airport', '"Praia', ' Santiago Island"', 'Cape Verde', 'RAI', 'GVNP', '14.9245', '-23.4935', '230', '-1', 'U']
['5562', 'Robin Hood Doncaster Sheffield Airport', '"Doncaster', ' Sheffield"', 'United Kingdom', 'DSA', 'EGCN', '53.474722', '-1.004444', '55', '0', 'E']

In [21]:
k = len(data[0])
for i,line in enumerate(data):
    l_k = len(line)
    if l_k != k:
        print(i, l_k ,line)

(4442, 12, ['5881', "Mata'aho Airport", '"Angaha', ' Niuafo\'ou Island"', 'Tonga', 'NFO', 'NFTO', '-15.5708', '-175.633', '160', '13', 'U'])
(4647, 12, ['5675', 'Sao Filipe Airport', '"Sao Filipe', ' Fogo Island"', 'Cape Verde', 'SFL', 'GVSF', '14.885', '-24.48', '617', '-1', 'U'])
(4648, 12, ['5674', 'Praia International Airport', '"Praia', ' Santiago Island"', 'Cape Verde', 'RAI', 'GVNP', '14.9245', '-23.4935', '230', '-1', 'U'])
(4760, 12, ['5562', 'Robin Hood Doncaster Sheffield Airport', '"Doncaster', ' Sheffield"', 'United Kingdom', 'DSA', 'EGCN', '53.474722', '-1.004444', '55', '0', 'E'])

In [22]:
import csv
newlines = []
with open('data/airports.csv', 'r') as f:
    reader = csv.reader(f)
    for line in reader:
        newlines.append(line)

In [23]:
k = len(newlines[0])
print(k)

11

In [24]:
for i, line in enumerate(newlines):
    l_k = len(line)
    if l_k != k:
        print(i, l_k, line)

In [25]:
newlines[1]

['1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U']

In [26]:
header = newlines[0]
lat = header.index('latitude')
lon = header.index('longitude')

In [27]:
lat

6

In [28]:
lon

7

In [29]:
latitudes = [ line[lat] for line in newlines[1:]]
longitudes = [ line[lon] for line in newlines[1:]]

In [30]:
len(latitudes) == len(longitudes)

True

In [31]:
len(latitudes)

6977

In [32]:
latitudes[0:3]

['-6.081689', '-5.207083', '-5.826789']

In [33]:
latitudes = [ float(line[lat]) for line in newlines[1:]]
longitudes = [ float(line[lon]) for line in newlines[1:]]

In [34]:
latitudes[0:3]

[-6.081689, -5.207083, -5.826789]

In [35]:
# make points

points = []
for i in range(len(latitudes)):
    points.append( (latitudes[i], longitudes[i]))

In [36]:
len(points)

6977

In [37]:
points[0:3]

[(-6.081689, 145.391881), (-5.207083, 145.7887), (-5.826789, 144.295861)]

In [38]:

points = list(zip(latitudes, longitudes)) #python 3 to python 2

In [39]:
points[0:3]

[(-6.081689, 145.391881), (-5.207083, 145.7887), (-5.826789, 144.295861)]

# Hints

In [40]:
# finding the maximum value

# find maximum longitude (pretend you didn't know anything about possible bounds)

max_value = float('-inf')

-2 > max_value

True

In [41]:
max_lat = float('-inf')
max_lon = float('-inf')
min_lat = float('inf')
min_lon = float('inf')
for point in points:
    lat, lon = point
    if lat > max_lat:
        max_lat = lat
    if lon > max_lon:
        max_lon = lon
    if lat < min_lat:
        min_lat = lat
    if lon < min_lon:
        min_lon = lon

In [34]:
((min_lat, min_lon), (max_lat, max_lon))

((-89.999997, -179.877), (82.517778, 179.951))

# Exercise 4

Find the following airports:

1. The western most airport in the northern hemisphere
2. The western most airport in the southern hemisphere
3. The southern most airport in the western hemisphere
4. The northern most airport in the eastern hemisphere